// Profile cover Image starts
.cover-wrapper {
  position: relative;
  width: 100%;
  height: 300px;
  overflow: hidden;
  border-radius: 12px; /* optional */
}
// Profile cover Image starts ends
// Profile pic starts
.profile_pic_wrapper {
  position: relative;
  width: 120px;
  height: 120px;
  overflow: hidden;
  border-radius: 50%;
  border: 3px solid #f05a28;
}
// Profile pic ends
// Repost alignment starts
// .original-post-wrapper {
//   position: relative;
// }

// .original-post-card {
//   background: var(--card-bg, #fff);
//   border: 1px solid #e6e6e6;
// }
.repost-header {
  .chat-btn {
    background-color: rgba(255, 255, 255, 0.08);
  }
  i {
    color: #f05a28;
  }
}
// Repost alignment ends
//Edit profile changes starts
.edit-profile-header {
  position: relative;
  margin-bottom: 72px;
}

/* COVER */
.cover-wrapper {
  position: relative;
  height: 190px;
  background: #1d1f23;
  overflow: hidden;
}

.cover-img {
  object-fit: cover;
}

/* PROFILE */
.profile-wrapper {
  position: absolute;
  bottom: -56px;
  left: 24px;
}

.profile-inner {
  position: relative;
  width: 112px;
  height: 112px;
}

.profile-img {
  border-radius: 50%;
  border: 4px solid #000;
  object-fit: cover;
}

/* OVERLAY */
.image-overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background 0.2s ease;
}

.cover-wrapper:hover .image-overlay,
.profile-inner:hover .image-overlay {
  background: rgba(0, 0, 0, 0.35);
}

/* CAMERA BUTTON */
.cover-edit-btn,
.profile-edit-btn {
  width: 40px;
  height: 40px;
  background: rgba(0, 0, 0, 0.75);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: #fff;
  opacity: 0;
  transform: scale(0.9);
  transition: all 0.2s ease;
}

.cover-wrapper:hover .cover-edit-btn,
.profile-inner:hover .profile-edit-btn {
  opacity: 1;
  transform: scale(1);
}

//Edit profile changes ends
