// Profile cover Image starts
.cover-wrapper {
  position: relative;
  width: 100%;
  height: 300px;
  overflow: hidden;
  border-radius: 12px; /* optional */
}
// Profile cover Image starts ends
// Profile pic starts
.profile_pic_wrapper {
  position: relative;
  width: 120px;
  height: 120px;
  overflow: hidden;
  border-radius: 50%;
  border: 3px solid #f05a28;
}
