.sidebar-footer {
  font-size: 11px !important;
  color: #71767b; /* muted text color like Twitter */
  //   margin-top: 16px;
}

.footer-links {
  display: flex;
  flex-wrap: wrap; /* wraps on small screens */
  gap: 6px; /* gap between items */
  line-height: 1.4;
}

.footer-links a {
  font-size: 11px;
  color: #71767b;
  text-decoration: none;
}

.footer-links a:hover {
  text-decoration: underline;
}

.separator {
  margin: 0 4px;
  color: #71767b; /* slightly lighter for divider */
}

.footer-copy {
  margin-top: 8px;
  font-size: 11px !important;
  color: #71767b;
}
